body {
    font-family: 'Source Sans Pro', sans-serif;
  /*color: white;*/
}

h1,h3 {
	margin: 1.25rem;
  margin-left: 20px;
}

header>a{
    text-decoration: none;
    color:black;
}
a {
	color: white;
	text-decoration: none;
}

.links{
    padding: 0.625rem;
    padding-left: 15px;
    margin: 1.25rem;
    font-size: 20px;
    background-color: rgb(32, 178, 170);
    box-shadow: 1px 1px 3px #888888;
    transition: transform .2s; /* Anim */
}

.links p {
    margin-left:0.5em;
}

.links p a {
    margin-left:-0.5em;
    font-weight:bold;
}

.links p a.recommended {
    font-weight:normal;
    margin-left:0;
    font-style: italic;
}

.links a:hover {
	text-decoration: underline;
  transform: scale(1.01); /* Zoom effect */
}