.links{
    padding:10px;
    margin:20px;
    background:rgb(32, 178, 170);
}

body{
    background-color: #333333;
    position: relative;
    color: white;
    font-family: Verdana, sans-serif;
}

h1{
    text-align: center;
}

